.error-content {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  align-items: center;

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;

    .code {
      font-size: 86px;
      color: $main;
    }

    .message {
      color: $gray;
    }
  }

  &__action {
    .text-button {
      color: $main;
      font-size: 14px;
      padding: 10px;
      border-radius: 8px;
    }
  }
}
