.form {
  &__group {
    position: relative;
    padding: 15px 0 0;
  }

  &__error {
    color: $danger;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 0%;
  }

  &__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.25s;
    font-size: 9px;
    color: $main;
  }

  &__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 13px;
    color: $white;
    padding: 8px 0;
    background: transparent;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 13px;
      cursor: text;
      top: 20px;
    }

    &:required, &:invalid {
      box-shadow: none;
    }

    &:focus {
      ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.25s;
        font-size: 9px;
      }

    }
  }
}

