.input-inline {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid $gray;
  width: 100%;

  .label {
    font-weight: 600;
    color: $main;
  }

  input {
    background: none;
    outline: none;
    border: none;
    text-align: end;
    color: $lightGray;
    font-size: 14px;
  }

  &:last-child {
    border-bottom: none;
  }
}
