.new-message {
  align-items: center;
  border-top: 1px solid $gray;
  display: flex;
  gap: 10px;
  padding-top: 10px;

  .field {
    background: $accent;
    border: none;
    border-radius: 30px;
    color: white;
    outline: none;
    padding: 10px 20px;
    width: 100%;

    &::placeholder {
      color: $lightGray;
    }
  }

  &__input {
    width: 100%;

    &:has(.error) {
      .field {
        outline: 1px solid $danger;
      }

      .error {
        display: none;
      }
    }
  }

  &__action {
    align-items: center;
    background: $main;
    border: none;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    height: 28px;
    justify-content: center;
    min-height: 28px;
    min-width: 28px;
    width: 28px;
  }
}
