.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__actions {
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 20px 10px;

    &__item {
      color: $gray;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;


      img {
        width: 8px;
      }
    }

  }

  &__search {
    padding: 10px;
    background: $background;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0px 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    color: $lightGray;
    font-weight: 500;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
